@{
    ViewBag.Title = "About";
}
<link href="~/Content/css/About.css" rel="stylesheet" type="text/css" />

<!--<h2 class="text-success">@ViewBag.Title.</h2>-->
@*<h3 class="text">@ViewBag.Message</h3>*@

<div class="about-section">
    <h1 class="text-info">Online Banking System</h1>
    <p>Online banking system is specifically developed for internet banking for balance enquiry,</p>
    <p>funds transfer to another account, change of profile information and account statement.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            @*<img src="~/Content/images/perfil.png" alt="Sayan Mandal" style="width:50%">*@
            <div class="container">
                <h2>Sayan Mandal</h2>
                <p class="title">Team Leader</p>
                <p></p>
                <p>sayan.mandal@capgemini.com</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
           @* <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">*@
            <div class="container">
                <h2>
                    Dhaval Patel
                </h2>
                <p class="title">Team member</p>
                @*<p>Some text that describes me lorem ipsum ipsum lorem.</p>*@
            <p>Dhaval@capgemini.com</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            @*<img src="/w3images/team3.jpg" alt="John" style="width:100%">*@
            <div class="container">
                <h2>
                    Harini Gangireddygari
                </h2>
                <p class="title">Team member</p>
                @*<p>Some text that describes me lorem ipsum ipsum lorem.</p>*@
            <p>Harini@capgemini.com</p>
            </div>
        </div>
    </div>
</div>

@*<p class="text-primary h4">
    Online banking system is specifically developed for internet banking for balance enquiry,
    funds transfer to another account, change of profile information and account statement.
    The traditional way of maintaining details of a user in a bank was to enter the details and record them.
    Every time the user needs to perform some transaction they have to go to bank and perform the necessary actions, which may not be so feasible all the time. Here, we provide an automation for banking system through Internet.  The aim is not only automation but also a better customer experience by providing a User Interface which is easily comprehensible by any person,customer support (so that the users get responded to their queries immediately),
    transparency (the users must know all the charges associated with the transaction).
</p>*@
